h1 {
    /*PX die Angabe der der Grösse in pixel*/
    font-size: 3em;
    color: rgb(160, 151, 159);
}

h1  {
    font-family: "Baskerville", serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif
}



body {
    background-color: white;
}

a1 {
    text-align: center;
}




header {
    background-color: white;
    text-align:  center;
}

footer {
    text-align: center;
}


button {
    color:blue
}

a { 
    text-decoration: none;
    color: black;
}

.flex-container 