h1 {
    /*PX die Angabe der der Grösse in pixel*/
    font-size: 3em;
    color: rgb(160, 151, 159);
}

h1  {
    font-family: "Baskerville", serif;
}



body {
    background-color: white;
}




header {
    background-color: rgb(218, 212, 212)
}

